<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mb-4">
      <tabset>
        <tab>
          <ng-template tabHeading><i class="icon-list"></i> Servicios Registrados &nbsp;</ng-template>
          <div class="row" >
            <div class="col-8">
              
                <div class="row">
                  <div class="col-3">
                    <div class="form-group">
                      <select class="form-control" name="detalleId" id="detalleId">
                        <option value="0" selected>Todos</option>
                        <option *ngFor="let the of vendedoresview" [value]="the.id">
                          <p>{{the.name}}</p>
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <input class="form-control" [(ngModel)]="inicio" name="inicio"
                                required
                                id="inicio" type="date">
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <input class="form-control" [(ngModel)]="final" name="final"
                                required
                                id="final" type="date">
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-group">
                      <button type="button"  class="btn btn-info" (click)="listadoservicioData()">
                        <i class="fa fa-search fa-md" style="color: red;"></i>
                        BUSCAR
                      </button>
                    </div>
                  </div>
                </div>
              
            </div>
            <div class="col-4" *ngIf="pdfExportActive">
              <button type="button"  class="btn btn-success btn-md" (click)="generarPdf()">
                <i class="fa fa-docs fa-lg" style="color: red;"></i>
                Exportar PDF
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <i class="fa fa-align-justify" style="color: red;"></i> <span style="color: red;">LISTADO DE SERVICIOS</span>
                </div>
                <div class="card-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr class="t-head-style">
                          <th class="text-center" style="background-color: mediumturquoise;" scope="col">Código</th>
                          <th class="text-center" style="background-color: mediumturquoise;" scope="col">Cliente</th>
                          <th class="text-center" style="background-color: mediumturquoise;" scope="col">Fecha P</th>
                          <th class="text-center" style="background-color: mediumturquoise;" scope="col">Descripción</th>
                          <th class="text-center" style="background-color: mediumturquoise;" scope="col">Servicio</th>
                          <th class="text-center" style="background-color: mediumturquoise;" scope="col">Fecha I</th>
                          <th class="text-center" style="background-color: mediumturquoise;" scope="col">Vendedor</th>
                          <th class="text-center" style="background-color: mediumturquoise;" scope="col">Estado</th>
                      </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let item of dateService
                        | paginate: { itemsPerPage: itemsPerPageS, currentPage: currentPageS }; let i = index">
                            <tr>
                              <td class="align-middle text-center">{{ item.code }}</td>
                              <td class="align-middle text-center">{{ item.client }}</td>
                              <td class="align-middle text-center">{{ item.agreed }}</td>
                              <td class="align-middle text-center">{{ item.description }}</td>
                              <td class="align-middle text-center">{{ item.service }}</td>
                              <td class="align-middle text-center">{{ item.install }}</td>
                              <td class="align-middle text-center">{{ item.seller }}</td>
                              <td class="align-middle text-center">
                                <div class="row justify-content-center">
                                  <div *ngIf="item.active == 0">
                                    <span class="badge badge-warning">Pendiente</span>
                                  </div>
                                  <div *ngIf="item.active == 1">
                                    <span class="badge badge-success">Instalado</span>
                                  </div>
                                  <div *ngIf="item.active == 2">
                                    <span class="badge badge-danger">Anulado</span>
                                  </div>
                                </div>
                                <div class="row justify-content-center">
                                  <div *ngIf="item.active == 0">
                                    <button id="{{item.code}}" type="button"  class="btn"
                                      (click)="openRedirection(item.detail,item.next)">
                                      <i class="fa fa-trash fa-lg" style="color: red;"></i>
                                    </button>
                                  </div>
                                </div>
                                <div class="row justify-content-center">
                                  <button id="{{item.code}}" type="button"  class="btn"
                                    (click)="SendMail(item.detail,item.next)">
                                    <i class="fa fa-download fa-lg" style="color: blue;"></i>
                                  </button>
                                </div>
                              </td>
                            </tr>
                        </ng-container>
                    </tbody>
                  </table>
                  <pagination-controls class="my-pagination" (pageChange)="currentPageS = $event"autoHide="true" responsive="true"
                    previousLabel="Anterior" nextLabel="Siguiente">
                  </pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>

<div bsModal #cancelacionModal="bs-modal" class="modal fade" tabindex="-1" [config]="{backdrop: 'static'}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Editar Datos Personales</h4>
        <button type="button" class="close" (click)="cancelacionModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form *ngIf="formularioCancelacion" [formGroup]="formularioCancelacion" autocomplete="offs" class="form-register-section">
          <div asp-validation-summary="All" class="text-danger"></div>
          <div class="row" >
            <div class="col-12">
              <div class="form-group">
                <label for="cancelacion">Motivo Cancelación</label>
                <input type="text" class="form-control form-control-sm"id="cancelacion"
                       formControlName="cancelacion" maxlength="20" [ngClass]="{ 'is-invalid': submitted && f.cancelacion.errors }" required>
                <div class="invalid-feedback"> Ingrese valor para motivo cancelación </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary ml-auto" (click)="cancelacionModal.hide()">CANCELAR</button>
        <button type="button" class="btn btn-success mr-auto" (click)="registerCancel()">GUARDAR</button>
      </div>
    </div>
  </div>
</div>