<div class="animated fadeIn">
    <div *ngIf="listadoActive">
      <div class="row">
        <div class="col-4">
          <div class="form-group row">
            <div class="col-md-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" style="background-color: white;">
                    <i class="fa fa-search fa-lg" style="color: red;"></i>
                  </span>
                </div>
                <input class="form-control" [(ngModel)]="busqueda" maxlength="20" id="busquedatotals" name="busquedatotals" placeholder="Texto a a buscar" type="text">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify" style="color: red;"></i> <span style="color: red;">LISTADO DE CLIENTES</span>
            </div>
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr class="t-head-style">
                      <th class="text-center" style="background-color: mediumturquoise;" scope="col">Documento</th>
                      <th class="text-center" style="background-color: mediumturquoise;" scope="col">Código</th>
                      <th class="text-center" style="background-color: mediumturquoise;" scope="col">Cliente</th>
                      <th class="text-center" style="background-color: mediumturquoise;" scope="col">Dirección</th>
                      <th class="text-center" style="background-color: mediumturquoise;" scope="col">Referencia</th>
                      <th class="text-center" style="background-color: mediumturquoise;" scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of personpay | filter: busqueda
                    | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; let i = index">
                        <tr>
                          <td class="align-middle text-center">{{ item.document }}</td>
                          <td class="align-middle text-center">{{ item.code }}</td>
                          <td class="align-middle text-center">{{ item.client }}</td>
                          <td class="align-middle text-center">{{ item.direction }}</td>
                          <td class="align-middle text-center">{{ item.reference }}</td>
                          <td class="align-middle text-center">
                            <div class="row justify-content-center">
                              <button id="{{item.id}}" type="button"  class="btn"
                              (click)="openRedirection(item.document,item.code)">
                                <i class="fa fa-share fa-2x fa-lg" style="color: red;"></i>
                              </button>
                            </div>
                          </td>
                        </tr>
                    </ng-container>
                </tbody>
              </table>
              <pagination-controls class="my-pagination" (pageChange)="currentPage = $event"autoHide="true" responsive="true"
                previousLabel="Anterior" nextLabel="Siguiente">
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="detalleActive">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="card">
            <div class="card-body">
              <div class="h1 text-muted text-left mb-4">
                <i class="icon-people" style="color: red;"></i>
                <button style="background-color: transparent;" *ngIf="userActive"
                        class="btn" data-toggle="modal" (click)="personamodal()">
                  <i class="fa fa-pencil fa-lg" style="color: green;"></i>
                </button>
                <button style="background-color: transparent;" *ngIf="userActive"
                        class="btn" data-toggle="modal" (click)="reclamoSaveModal.show()">
                  <i class="fa fa-taxi fa-lg" style="color: green;"></i>
                </button>
              </div>
              <div class="h4 mb-0">Cliente:</div>
              <small class="text-muted text-uppercase font-weight-bold">{{name}}</small>
              <div class="progress progress-xs mt-3 mb-0">
                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-info"
                  role="progressbar" style="width: 100%">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="card">
            <div class="card-body p-6 clearfix">
              <i class="fa fa-calendar bg-success p-3 font-2xl mr-3 float-left"></i>
              <div class="text-muted text-uppercase font-weight-bold font-xs">{{serviceexit}}
                <button *ngIf="pagoExitActive" class="btn" style="background-color: transparent;"
                    class="btn" data-toggle="modal" (click)="openMonthExit()">
                    <i class="fa fa-eye fa-lg" style="color: green;"></i>
                  </button>
              </div>
              <div class="text-muted text-uppercase font-weight-bold font-xs" style="color: black;">S/ {{amountdetailinternetexit}} "Internet"</div>
              <div class="text-muted text-uppercase font-weight-bold font-xs" style="color: black;">S/ {{amountdetailcableexit}} "Cable"</div>
           </div>
           
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="card">
            <div class="card-body">
              <div class="h1 text-muted text-left mb-4">
                <i class="icon-home" style="color: red;"></i>
                <button class="btn" style="background-color: transparent;" *ngIf="userActive"
                  class="btn" data-toggle="modal" (click)="directionModal.show()">
                  <i class="fa fa-pencil fa-lg" style="color: green;"></i>
                </button>
              </div>
              <div class="h4 mb-0">Dirección:</div>
              <small class="text-muted text-uppercase font-weight-bold">{{direction}}</small>
              <div class="progress progress-xs mt-3 mb-0">
                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="18" class="progress-bar bg-info"
                  role="progressbar" style="width: 100%">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="card">
            <div class="card-body">
              <div class="h1 text-muted text-left mb-4">
                <i class="icon-target" style="color: red;"></i>
                <button class="btn" style="background-color: transparent;" *ngIf="userActive"
                  class="btn" data-toggle="modal" (click)="referenceModal.show()">
                  <i class="fa fa-pencil fa-lg" style="color: green;"></i>
                </button>
              </div>
              <div class="h4 mb-0">Referencia:</div>
              <small class="text-muted text-uppercase font-weight-bold">{{reference}}</small>
              <div class="progress progress-xs mt-3 mb-0">
                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-info"
                  role="progressbar" style="width: 100%">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="card">
            <div class="card-body p-6 clearfix">
              <i class="fa fa-drivers-license-o bg-danger p-3 font-2xl mr-3 float-left"></i>
              <div class="h5 mb-0 mt-2" style="color: black;">S/ {{amountgeneraldelete}}</div>
              <div class="text-muted text-uppercase font-weight-bold font-xs">{{servicedelete}}</div>
           </div>
           <div class="row card-body" style="padding: 10px 1px 10px 25px;" *ngIf="pagoDeleteActive">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="amountpaySaveDelete">Monto</label>
                <input class="form-control form-control-sm" maxlength="6" id="amountpaySaveDelete" placeholder="Ingrese monto" type="text">
              </div>
            </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  







  
  
  
  
  
  
  
  <div bsModal #personModal="bs-modal" class="modal fade" tabindex="-1" [config]="{backdrop: 'static'}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Editar Datos Personales</h4>
          <button type="button" class="close" (click)="personModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form *ngIf="formularioPerson" [formGroup]="formularioPerson" autocomplete="offs" class="form-register-section">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row" >
              <div class="col-6">
                <div class="form-group">
                  <label for="documentoperson">Documento</label>
                  <input type="text" class="form-control form-control-sm" id="documentoperson" value="{{document}}" disabled
                         formControlName="documentoperson" style="font-weight:25%;" [ngClass]="{ 'is-invalid': submitted && f.documentoperson.errors }">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="nombresperson">Nombre</label>
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="nombrepersonModel" id="nombresperson" (keypress)="keypressletras($event)" disabled
                         formControlName="nombresperson" maxlength="20" style="font-weight:25%;" [ngClass]="{ 'is-invalid': submitted && f.nombresperson.errors }" required>
                  <div class="invalid-feedback"> Ingrese valor para nombre </div>
                </div>
              </div>
            </div>
            <div class="row" >
              <div class="col-6">
                <div class="form-group">
                  <label for="paternoperson">Apellido Paterno</label>
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="paternopersonModel" id="paternoperson" (keypress)="keypressletras($event)" disabled
                         formControlName="paternoperson" maxlength="20" style="font-weight:25%;" [ngClass]="{ 'is-invalid': submitted && f.paternoperson.errors }" required>
                  <div class="invalid-feedback"> Ingrese valor para apellido paterno </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="maternoperson">Apellido Materno</label>
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="maternopersonModel" id="maternoperson" (keypress)="keypressletras($event)" disabled
                         formControlName="maternoperson" maxlength="50" style="font-weight:25%;" [ngClass]="{ 'is-invalid': submitted && f.maternoperson.errors }" required>
                  <div class="invalid-feedback"> Ingrese valor para apellido materno </div>
                </div>
              </div>
            </div>
            <div class="row" >
              <div class="col-12">
                <div class="form-group">
                  <label for="empresaperson">Empresa</label>
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="empresapersonModel" id="empresaperson" (keypress)="keypressletras($event)" disabled
                        formControlName="empresaperson" maxlength="100" style="font-weight:25%;" [ngClass]="{ 'is-invalid': submitted && f.empresaperson.errors }">
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary ml-auto" (click)="personModal.hide()">CANCELAR</button>
          <button type="button" class="btn btn-success mr-auto" (click)="registerPerson()">GUARDAR</button>
        </div>
      </div>
    </div>
  </div>
  <div bsModal #reclamoSaveModal="bs-modal" class="modal fade" tabindex="-1" [config]="{backdrop: 'static'}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Agregar Reclamo</h4>
          <button type="button" class="close" (click)="reclamoSaveModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form *ngIf="formularioReclamo" [formGroup]="formularioReclamo" autocomplete="offs" class="form-register-section">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row" >
              <div class="col-6">
                <div class="form-group">
                  <label for="documentoreclamo">Documento</label>
                  <input type="text" class="form-control form-control-sm" id="documentoreclamo" value="{{document}}" disabled
                        formControlName="documentoreclamo" style="font-weight:25%;" [ngClass]="{ 'is-invalid': submittedReclamoActive && j.documentoreclamo.errors }">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="codereclamo">Código</label>
                  <input type="text" class="form-control form-control-sm" id="codereclamo" value="{{code}}" disabled
                        formControlName="codereclamo" style="font-weight:25%;" [ngClass]="{ 'is-invalid': submittedReclamoActive && j.codereclamo.errors }">
                </div>
              </div>
            </div>
            <div class="row" >
              <div class="col-6">
                <div class="form-group">
                  <label for="servicioreclamo">Servicio</label>
                  <select class="form-control form-control-sm select-select" id="servicioreclamo" placeholder="Seleccione"
                        formControlName="servicioreclamo" [ngClass]="{ 'is-invalid': submittedReclamoActive && j.servicioreclamo.errors }" required>
                    <option *ngFor="let the of servicioview" [value]="the.id">
                      <p>{{the.name}}</p>
                    </option>
                  </select>
                  <div class="invalid-feedback"> Seleccione opción para servicio </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="idreclamo">Reclamo</label>
                  <select class="form-control form-control-sm select-select" id="idreclamo" placeholder="Seleccione"
                        formControlName="idreclamo" [ngClass]="{ 'is-invalid': submittedReclamoActive && j.idreclamo.errors }" required>
                    <option *ngFor="let the of reclamoview" [value]="the.id">
                      <p>{{the.name}}</p>
                    </option>
                  </select>
                  <div class="invalid-feedback"> Seleccione opción para reclamo </div>
                </div>
              </div>
            </div>
            <div class="row" >
              <div class="col-12">
                <div class="form-group">
                  <label for="descripcionreclamo">Descripción</label>
                  <textarea rows="3" class="form-control form-control-sm" id="descripcionreclamo" 
                        formControlName="descripcionreclamo" maxlength="250" style="font-weight:25%;" [ngClass]="{ 'is-invalid': submittedReclamoActive && j.descripcionreclamo.errors }">
                  </textarea>
                  <div class="invalid-feedback"> Ingrese valor para descripción </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary ml-auto" (click)="reclamoSaveModal.hide()">CANCELAR</button>
          <button type="button" class="btn btn-success mr-auto" (click)="registerReclamo()">GUARDAR</button>
        </div>
      </div>
    </div>
  </div>
  <div bsModal #directionModal="bs-modal" class="modal fade" tabindex="-1" [config]="{backdrop: 'static'}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Editar Datos Dirección</h4>
          <button type="button" class="close" (click)="directionModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form *ngIf="formularioDirection" [formGroup]="formularioDirection" autocomplete="offs" class="form-register-section">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row" >
              <div class="col-6">
                <div class="form-group">
                  <label for="documentodirection">Documento</label>
                  <input type="text" class="form-control form-control-sm" id="documentodirection" value="{{document}}" disabled
                        formControlName="documentodirection" style="font-weight:25%;" [ngClass]="{ 'is-invalid': submittedDirection && g.documentodirection.errors }">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="codedirection">Código</label>
                  <input type="text" class="form-control form-control-sm" id="codedirection" value="{{code}}" disabled
                        formControlName="codedirection" style="font-weight:25%;" [ngClass]="{ 'is-invalid': submittedDirection && g.codedirection.errors }">
                </div>
              </div>
            </div>
            <div class="row" >
              <div class="col-6">
                <div class="form-group">
                  <label for="zonedirection">Calle</label>
                  <select class="form-control form-control-sm select-select" id="zonedirection" placeholder="Seleccione" disabled
                        formControlName="zonedirection" [ngClass]="{ 'is-invalid': submittedDirection && g.zonedirection.errors }" required>
                    <option *ngFor="let the of directionview" [value]="the.id">
                      <p>{{the.name}}</p>
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="numberdirection">Número</label>
                  <input type="text" class="form-control form-control-sm" id="numberdirection" disabled
                        formControlName="numberdirection" maxlength="15" style="font-weight:25%;" [ngClass]="{ 'is-invalid': submittedDirection && g.numberdirection.errors }">
                  <div class="invalid-feedback"> Ingrese valor para número </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary ml-auto" (click)="directionModal.hide()">CANCELAR</button>
          <button type="button" class="btn btn-success mr-auto" (click)="registerDirection()">GUARDAR</button>
        </div>
      </div>
    </div>
  </div>
  <div bsModal #referenceModal="bs-modal" class="modal fade"[config]="{backdrop: 'static'}"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Editar Datos Referencia</h4>
          <button type="button" class="close" (click)="referenceModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form *ngIf="formularioReference" [formGroup]="formularioReference" autocomplete="offs" class="form-register-section">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row" >
              <div class="col-6">
                <div class="form-group">
                  <label for="documentoreference">Documento</label>
                  <input type="text" class="form-control form-control-sm" id="documentoreference" value="{{document}}" disabled
                        formControlName="documentoreference" style="font-weight:25%;" [ngClass]="{ 'is-invalid': submittedReference && i.documentoreference.errors }">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="codereference">Código</label>
                  <input type="text" class="form-control form-control-sm" id="codereference" value="{{code}}" disabled
                        formControlName="codereference" style="font-weight:25%;" [ngClass]="{ 'is-invalid': submittedReference && i.codereference.errors }">
                </div>
              </div>
            </div>
            <div class="row" >
              <div class="col-12">
                <div class="form-group">
                  <label for="descriptionreference">Descripción</label>
                  <textarea rows="3" class="form-control form-control-sm" id="descriptionreference" maxlength="255" disabled
                    formControlName="descriptionreference" style="font-weight:25%;" [ngClass]="{ 'is-invalid': submittedReference && i.descriptionreference.errors }">
                  </textarea>
                    <div class="invalid-feedback"> Ingrese valor para descripción </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary ml-auto" (click)="referenceModal.hide()">CANCELAR</button>
          <button type="button" class="btn btn-success mr-auto" (click)="registerReference()">GUARDAR</button>
        </div>
      </div>
    </div>
  </div>
  <div bsModal #serviceaexitModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Listado Meses Deudas</h4>
          <button type="button" class="close" (click)="serviceaexitModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center" style="background-color: mediumturquoise;" scope="col">Servicio</th>
                        <th class="text-center" style="background-color: mediumturquoise;" scope="col">Mes</th>
                        <th class="text-center" style="background-color: mediumturquoise;" scope="col">Monto</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let item of monthexit
                      | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; let i = index">
                        <tr>
                          <td class="align-middle text-center">{{ item.service }}</td>
                          <td class="align-middle text-center">{{ item.information }}</td>
                          <td class="align-middle text-center">{{ item.amount }}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                  <pagination-controls class="my-pagination" (pageChange)="currentPage = $event"autoHide="true" responsive="true"
                    previousLabel="Anterior" nextLabel="Siguiente">
                  </pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary ml-auto" (click)="serviceaexitModal.hide()">CANCELAR</button>
          <button type="button" class="btn btn-success mr-auto" style="color: transparent;" (click)="serviceaexitModal.hide()">GUARDAR</button>
        </div>
      </div>
    </div>
  </div>
  