<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mb-4">
      <tabset>
        <tab>
          <ng-template tabHeading><i class="icon-list"></i> Planilla &nbsp;</ng-template>
          <div class="row" >
            <div class="col-4">
              <form *ngIf="formularioSearch" [formGroup]="formularioSearch" autocomplete="offs" class="form-register-section">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <input class="form-control" [(ngModel)]="busqueda" formControlName="selectdate"
                                [ngClass]="{ 'is-invalid': submitted && f.selectdate.errors }" required
                                id="selectdate" placeholder="" type="date" max="01/07/2020" min="01/07/2019">
                      <div class="invalid-feedback"> Ingrese valor para fecha </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <button type="button"  class="btn btn-info" (click)="searchfech()">
                        <i class="fa fa-search fa-lg" style="color: red;"></i>
                        BUSCAR
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-4" *ngIf="pdfexportActive">
              <button type="button"  class="btn btn-success btn-md" (click)="generarPdf()">
                <i class="fa fa-docs fa-lg" style="color: red;"></i>
                Exportar PDF
              </button>
            </div>
            <div class="col-4" *ngIf="pdfexportActive">
              <div class="form-group row">
                <div class="col-md-12">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" style="background-color: white;">
                        <i class="fa fa-search fa-lg" style="color: red;"></i>
                      </span>
                    </div>
                    <input class="form-control" [(ngModel)]="busquedapago" maxlength="20" id="busquedapagos" name="busquedapagos" placeholder="Texto a a buscar" type="text">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <i class="fa fa-align-justify" style="color: red;"></i> <span style="color: red;">LISTADO DE PAGOS</span>
                </div>
                <div class="card-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr class="t-head-style">
                          <th class="text-center" style="background-color: mediumturquoise;" scope="col">Número</th>
                          <th class="text-center" style="background-color: mediumturquoise;" scope="col">Código</th>
                          <th class="text-center" style="background-color: mediumturquoise;" scope="col">Cliente</th>
                          <th class="text-center" style="background-color: mediumturquoise;" scope="col">Mensualidad</th>
                          <th class="text-center" style="background-color: mediumturquoise;" scope="col">Instalacion</th>
                          <th class="text-center" style="background-color: mediumturquoise;" scope="col">Otros</th>
                          <th class="text-center" style="background-color: mediumturquoise;" scope="col">Total</th>
                          <th class="text-center" style="background-color: mediumturquoise;" scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let item of listpay | filter: busquedapago
                        | paginate: { itemsPerPage: itemsPerPageS, currentPage: currentPageS }; let i = index">
                            <tr>
                              <td class="align-middle text-center">{{ item.id }}</td>
                              <td class="align-middle text-center">{{ item.code }}</td>
                              <td class="align-middle text-center">{{ item.client }}</td>
                              <td class="align-middle text-center">{{ item.amountOne }}</td>
                              <td class="align-middle text-center">{{ item.amountTwo }}</td>
                              <td class="align-middle text-center">{{ item.amountThree }}</td>
                              <td class="align-middle text-center">{{ item.sumation }}</td>
                              <td class="align-middle text-center">
                                <div class="row justify-content-center">
                                  <div *ngIf="item.sumation == 0 && item.client != ''">
                                    <span class="badge badge-danger">Anulado</span>
                                  </div>
                                  <div *ngIf="item.sumation != 0 && item.client != ''">
                                    <span class="badge badge-success">Activo</span>
                                  </div>
                                </div>
                                <div class="row justify-content-center">
                                  <div *ngIf="item.sumation != 0 && item.client != '' && busqueda == busquedaS">
                                    <button id="{{item.id}}" type="button"  class="btn"
                                      (click)="openRedirection(item.id,item.code,i,currentPageS)">
                                      <i class="fa fa-trash fa-lg" style="color: red;"></i>
                                    </button>
                                  </div>
                                </div>
                              </td>
                            </tr>
                        </ng-container>
                    </tbody>
                  </table>
                  <pagination-controls class="my-pagination" (pageChange)="currentPageS = $event"autoHide="true" responsive="true"
                    previousLabel="Anterior" nextLabel="Siguiente">
                  </pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab>
          <ng-template tabHeading><i class="icon-calculator"></i> Gestor &nbsp;</ng-template>
          <div class="row">
             <div class="col-6">
               <div class="form-group row">
                 <div class="col-4">
                   <div class="form-group">
                     <button type="button"  class="btn btn-success btn-sm" (click)="viewmanagercount()">
                      <i class="fa fa-docs fa-lg" style="color: red;"></i>
                       Exportar Recaudación PDF
                    </button>
                  </div>
                 </div>
               </div>
             </div>
            </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>